body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #505050;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-bottom: #bbb 1px solid;
}

section h2 {
    font-size: 1.5em;
    color: #505050;
}

.experience {
    margin-bottom: 15px;
}

.experience h3 {
    font-size: 1.2em;
    color: #505050;
}

ul {
    list-style-type: square;
}
